.main_box{
    text-align: center;
    background-image: -webkit-linear-gradient(
    315deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%)
}
/* fieldset {
    border: 2px solid #48ab4b;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 500px;
    margin: 20px auto;
} */
fieldset {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 500px;
}
.task_list {
    text-align: center;
}


